/* Your custom styles */
html,
body,
header,
#particles-js {
    height: 100%;
}

#particles-js{
  width: 100%;
  height: 100%;
  background-color: #090b20;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.navbar {
    background-color: transparent;
}

.top-nav-collapse {
    background-color: #edf8b1;
}

#welcome {
  color: #edf8b1;
}

#welcome span {
  color: #0275d8;
}

section {
  margin-top: 50px;
  margin-bottom: 50px;
}

#portfolio, #design, #artwork {
  height: 200px;
  background-attachment: fixed;
  margin: 0;
}

#portfolio > div {
  margin: 0;
  background-color: rgba(2,117,216, 0.7);
  height: 200px;
}

#design > div {
  margin: 0;
  background-color: rgba(9, 11, 32, 0.7);
  height: 200px;
}

#artwork > div {
  margin: 0;
  background-color: rgba(237, 248, 177, 0.7);
  height: 200px;
}

#portfolioText, #artText, #designText {
  margin: 40px auto;
  color: #edf8b1;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#artText {
  color: #090b20;
}

.font-weight-bold {
  font-size: 40px;
}

.row {
  margin: 10px 0;
}

#mainArt {
  width: 300px;
  height: auto;
  display: inline-block;
  margin: auto;
}

.my-container {
  margin: 30px;
}

.col-md-4 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.art {
  height: 300px;
  overflow: hidden;

}

.art-short {
  height: 200px;
  overflow: hidden;
}

.art > img, .art-short > img {
  width: 300px;
  height: auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.artContainer {
  background: #0275d8;
  padding: 100px;
  margin: 0;
}


footer {
  border: 1px solid #090b20;
  background: #090b20;
  height: 400px;
  margin: 0;
}

footer > #contact {
  color: white;
}

.contact {
  margin-top: 50px;
  margin-bottom: 50px;
}

@media only screen and (max-width: 768px) {
    .navbar {
        background-color: #edf8b1;
    }
}

@media (max-width: 490px) {
  .firstArtRow {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  #artIntro {
    width: 90%;
  }

  .my-container {
    margin: 15px 0;
  }
}
